/frequency_res
/heatmaps
/wandb
/sentence-transformers
/xiaomishu

services_encoding_mean_t5-base.npy
services_mean_t5-base.npy

services_encoding_mean_t5-small.npy
services_mean_t5-small.npy

services_Euclidean_Distance_heatmap_t5-small.png
services_sim_heatmap_t5-small.png
t5-small_tsne.png

task_extracted_info.npy
xiaomishu_schema.json
xiaomishu_services_num.json